h5 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-bottom: 10px;
  }

.input-group {
    width: 100%;
    height: 36px;
    margin: 5px 0px;
    text-align: center;
    font-size: 12px;
    justify-content: center;
}

.search-bar::placeholder {
    color: #9a9a9a;
}
